* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #172129;
}
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #172129; 
}
::-webkit-scrollbar-thumb {
  background: #d2dcdf;
  border-radius: 6px; 
}
::-webkit-scrollbar-thumb:hover {
  background: #93b2bc;
  border-radius: 6px; 
}
.logo a{
  text-decoration: none;
}
.img{
  color: #d2dcdf;
  font-family: "Unica One", sans-serif;
  font-size: 3em;
  font-weight: 300;
  display:flex;
  justify-content:center;
  align-items:left;
  width:180px;
  height:47px;
  margin:0;
  padding: 0;
  padding-right:55%;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0% 60% 3% 0;
  background-color: #172129;
  position:relative;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  height: 5rem;  
}
.logo {
  display:flex;
  padding-right:10rem;
  padding-left:5rem;
  width:10px;
  height:5px;
}
.nav-links {
  display: flex;
  justify-content: flex-start;
  padding-left: 30rem;
  padding-top: 1.7rem;
  gap: 60%;
  width:100%;
  margin-top: auto;
}
.nav-links a {
  color: #d2dcdf;
  text-decoration: none;
  font-size: 1rem;
  font-weight: lighter;
  font-family:"Nunito", sans-serif;
}
.nav-links a:hover{
  color:#77a3c5;
}
.intro {
  text-align: center;
  padding: 2rem 1rem;
  max-width: 800px;
  margin: auto;
  color: #d2dcdf;
  font-weight: lighter;
  font-family:"Nunito", sans-serif;
  font-size: larger;
  border-bottom: solid 1px #d2dcdf;
}
.trending{
  padding-top: 4rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
.trending h3{
  color: #d2dcdf;
  font-family: "Unica One", sans-serif;
  font-weight: 300;
  font-size: larger;
}
.card-container{
  display: flex;
  overflow-x: auto;
  padding-top: 1.5rem;
  gap: 20px;
  padding-bottom: 10px;
  scroll-behavior: smooth;
}
.card{
  background-color: #1f2a36;
  border-radius: 2px;
  display: block;
  text-decoration: none;
  overflow: hidden;
  flex-shrink: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: medium;
  font-weight: lighter;
  color: #d2dcdf;
  width: clamp(200px, 5rem, 400px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.card img{
  width: 100%;
  height: auto;
  display: block;
}
.card .info{
  padding: 10px;
}
.card .title{
  font-size: 1rem;
}
.footer {
  background-color: #2a3b45;
  padding: 20px;
  margin-top: 7rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #cbd0d3;
  border-top: solid 1px #d2dcdf;
  }
.footer-content {
  max-width: 800px;
  margin: 0 auto;
}
.tmdb-logo {
  height: 30px;
  margin-top: 10px;
  opacity: 0.8;
}
.footer p {
  margin: 5px 0;
}
@media (max-width: 600px) {

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #172129;
    width: 150px;
    border-radius: 8px;
    padding: 10px 0;
  }
  .nav-links a {
    padding: 10px;
    text-align: center;
  }
}